@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-weight: 100;
    font-family: "Presicav";
    src: url(/fonts/presicavul.woff2) format("woff2"),
         url(/fonts/presicavul.woff) format("woff")
  }

  @font-face {
    font-weight: 200;
    font-family: "Presicav";
    src: url(/fonts/presicavxl.woff2) format("woff2"),
         url(/fonts/presicavxl.woff) format("woff")
  }

  @font-face {
    font-weight: 300;
    font-family: "Presicav";
    src: url(/fonts/presicavlt.woff2) format("woff2"),
         url(/fonts/presicavlt.woff) format("woff")
  }

  @font-face {
    font-weight: 400;
    font-family: "Presicav";
    src: url(/fonts/presicavrg.woff2) format("woff2"),
         url(/fonts/presicavrg.woff) format("woff")
  }

  @font-face {
    font-weight: 500;
    font-family: "Presicav";
    src: url(/fonts/presicavbd.woff2) format("woff2"),
         url(/fonts/presicavbd.woff) format("woff")
  }

  @font-face {
    font-weight: 600;
    font-family: "Presicav";
    src: url(/fonts/presicavhv.woff2) format("woff2"),
         url(/fonts/presicavhv.woff) format("woff")
  }
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Presicav';
  background-color: black;
}
